<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mis-frases</title>
<link href="estilo.css" rel="stylesheet" type="text/css" />
<link href="modulos.css" rel="stylesheet" type="text/css" />
<!--icon-->
<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="images/favicon.png" rel="icon" type="image/png" />
<!--FIN icon-->
</head>

<body>
<div class="cont">

<!-- header -->

<div class="header">

<div class="header-logo">
    <ul>
    <li><a href="index.html">mis frases</a></li>
    </ul>
    </div>

    <div class="header-acceso">
    <form action="ingresar.php" method="post" name="login">
    	<div class="header-acceso1">Usario <input type="text" size="14" maxlength="30" /></div>
    	<div class="header-acceso2">Contraseña <input type="password" size="15" maxlength="30" /></div>
    	<div class="header-acceso3" id="navi">
        
        <ul>
        <li><a href="#">Ingresar</a></li>
        </ul>
        
        </div>
    </form>
    	<div class="header-acceso4">
        <ul>
        <li><a href="#">Quiero registrarme</a></li>
        <li><a href="#">Olvide mi contraseña</a></li>
        </ul>
        </div>
    	<div class="header-acceso5" id="navi2">
        <ul>
        	<li><a href="#">Publicar una frase</a></li>
        	<li></li>
        </ul>
    	</div>
    </div>
    
    <div class="header-tx">
    Bienvenid@s a mis-frases, la primera comunidad internacional de 
    amigos que publican, comparten, votan y comentan sus frases,
    refranes, citas, nicks y escritos favoritos. ¡Participa en
    mis-frases!
    
      <div class="header-caja" id="header-link-color">
    	<div class="header-entrar">
        <a href="#"><img src="images/icon/entrar.png" width="16" height="16" border="0" /></a> <a href="#">Entrar</a>
        </div>
        <div class="header-registrate">
        <a href="#"><img src="images/icon/registrate.png" width="16" height="16" border="0" /></a> <a href="#">Registrate</a></div>
    </div>
    
    
</div>
    
    <div></div>
</div>

<!-- columna 01 -->

<div class="body-colum1">
	<div class="body-colum1-int">
    	<div class="body-colum1-int2">Total de frases publicadas</div>
      <div class="body-colum1-int3">45490</div>
      
      <!-- separador-->
      <div class="body-colum1-int4-separador"></div>
      <!-- FIN separador-->
      
	  	<div id="menu">
			<ul>
            	<li><a href="index.html">Inicio</a></li>
    			<li><a href="login.html">Publicar una frase</a></li>
        		<li><a href="categoria-frases.html">Categoria de frases</a></li>
        		<li><a href="novedades.html">Novedades</a></li>
        		<li><a href="usuarios.html">Nuestros usuarios</a></li>
        		<li><a href="http://frases-citas.euroresidentes.com/" 
                target="_blank">Blog de mis frases</a></li>
    		</ul>
		</div>
<!-- siguenos en facebook twetter-->
      <div class="body-colum1-facebook">
        	<div class="body-colum1-fb2">Sigue mis frases</div>
            <div class="body-colum1-fb-cont">
        	<div class="body-colum1-fb3"><a href="#" target="_blank"><img src="images/facebook.png" width="37" height="37" border="0" /></a></div>
            <div class="body-colum1-fb4"><a href="#" target="_blank"><img src="images/tweeter.png" width="37" height="37" border="0" /></a></div>
            </div>
        </div>
<!-- FIN siguenos en facebook twetter-->
        
<!-- usuarios -->     
      <div class="body-colum1-usuarios">
        <div class="body-colum1-usuarios-cont">
        <div class="body-colum1-usu2"><img src="images/icon-usuarios.jpg" width="12" height="14" border="0" /></div>
        <div class="body-colum1-usu3">Usuarios más activos</div>
        </div>
        <div class="body-colum1-usuarios-cont-tabla" id="ul">
          <ul>
          	<li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            
          </ul>
        </div>
          <div class="body-colum1-usu4"><a href="#">Ver más..</a></div>
          <p>&nbsp;</p>
      </div>
<!-- FIN usuarios -->

<!-- separador-->
      <div class="body-colum1-int4-separador"></div>
<!-- FIN separador-->

<!-- usuarios -->     
      <div class="body-colum1-usuarios">
        <div class="body-colum1-usuarios-cont">
        <div class="body-colum1-usu2"><img src="images/icon-usuarios.jpg" width="12" height="14" border="0" /></div>
        <div class="body-colum1-usu3">
          Ultimos Usuarios registrados
        </div>
        </div>
        <div class="body-colum1-usuarios-cont-tabla" id="ul">
          <ul>
          	<li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/male.jpg" width="44" height="44" border="1" /></a></li>
            <li><a href="#"><img src="images/icon/female.jpg" width="44" height="44" border="1" /></a></li>
            
          </ul>
        </div>
          <div class="body-colum1-usu4"><a href="#">Ver más..</a></div>
         
      </div>
<!-- FIN usuarios -->

<!-- separador-->
      <div class="body-colum1-int4-separador"></div>
<!-- FIN separador-->

<!-- usuarios --><!-- FIN usuarios -->



    </div>
</div>

<!-- FIN columna 01 -->

<!-- columna 02 buscador -->
<div class="body-colum2-centro">
	<div class="body-colum2-buscador">
    	<div class="body-colum2-buscador-lupa"></div>
      <div class="body-colum2-buscador-campo">
       <form id="form1" name="form1" method="post" action="i.php" enctype="multipart/form-data">
       <input name="buscador" type="text" id="buscador" size="60" maxlength="60" />
       </form>
      </div>
      <div class="body-colum2-buscador-boton" id="buscador">
      	
   		  <ul><li><a href="#">Buscar</a></li></ul>
      	
      </div>
      
        <div class="body-colum2-buscador-campo2">Buscar frases por categoría, palabra clave, autor o usuario. </div>
    </div>
    <div class="body-colum2-titulo">
    <ul>
      <li>Página de usuario</li></ul></div>
</div>

<!-- FIN columna 02 buscador -->

<!-- columna 02 centro -->
<div class="body-colum2-centro2">

<!--usuario-->

<div class="usuario-cont" id="link-color">
	<div class="usuario-titulo">
      <strong>Pagina de <a href="usuario.html">Pepito</a></strong></div>
	<!--caja usuario-->
	<div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-libro-frases.html"><img src="images/icon/usuario-libro.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-libro-frases.html">Meu livro de frases </a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-hoja-dia.html"><img src="images/icon/usuario-contacto.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-hoja-dia.html">Meu dia de hoje</a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-frases-enviadas.html"><img src="images/icon/usuario-frases-enviadas.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-frases-enviadas.html">Frases enviadas</a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-mis-comentarios.html"><img src="images/icon/usuario-comentarios.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-mis-comentarios.html">Meus comentarios </a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-mis-imagenes.htmll"><img src="images/icon/usuario-imagenes.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-mis-imagenes.htmll">Minhas imagens</a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-frases-favoritas.html"><img src="images/icon/usuario-frases-favoritas.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-frases-favoritas.html">Minhas frases favoritas</a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-mis-amigos.html"><img src="images/icon/usuario-mis-amigos.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-mis-amigos.html">Meus amigos</a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-mis-escritos.html"><img src="images/icon/usuario-mis-escritos.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-mis-escritos.html">Meus escritos</a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-mejores-momentos-mis-frases.html"><img src="images/icon/usuario-mejores-momentos.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-mejores-momentos-mis-frases.html">Meus melhores momentos em frases</a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-mejores-nicks.html"><img src="images/icon/usuario-mejores-nicks.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-mejores-nicks.html">Meus melhores nicks e os dos meus amigos</a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-consejero.html"><img src="images/icon/usuario-consejero.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-consejero.html">Os conselhos da minha avo</a></div>
    </div>
    
    <div class="usuario-caja01-cont">
    	<div class="usuario-caja01-img"><a href="usuario-mensajes-privados.html"><img src="images/icon/usuario-mail.jpg" width="45" height="45" border="0" /></a></div>
    	<div class="usuario-caja01-tx">
        <a href="usuario-mensajes-privados.html">Minhas mensagens privadas </a></div>
    </div>
    <!--FIN caja usuario-->
</div>

<!--FIN usuario-->

  <div class="login-tx2">
		Gracias por participar en la comunidad de frases mas divertida de Internet. 
	</div>
    
</div>
<!-- FIN columna 02 centro -->

<!-- columna 03 -->
<div class="body-colum3">

	<!-- panel usuario -->
    <div class="usuarios-panel-datos-cont">
    	<div class="usuarios-panel-datos-color-03">
    	  <div class="panel-usuarios-icon-tx">
            Sobre usuario</div>
      </div>
    	<div class="panel-usuarios-02">
        	<div class="panel-usuarios-02-caja">
            
            <!--caja usuario-->
        <div class="usuarios-panel-datos-caja-cont">
        	<div class="usuarios-panel-datos-caja-01">
            <a href="#"><img src="images/icon/calico-poeta2.png" 
            width="80" height="80" border="0" /></a>
            </div>
            <div class="usuarios-panel-datos-caja-02">
            Nombre verdadero:<br />
            Pepito<br /><br />
            
            Fecha de nacimiento:<br />
            01/01/11
        	</div>
        </div>
        <!-- FIN caja usuario-->
        
        <!--caja usuario-->
        <div class="usuarios-panel-datos-caja-cont">
          <div class="usuarios-panel-datos-caja-02">
            <ul>
            <li><strong>Sobre mi:</strong><br />
            Soy asi como lees, Claro directo al mi hablar y escribir. 
            </li><br />
            
            <li><strong>Porque me agrada mis-frases:</strong><br />
            Por que me hacen sentir libre
            </li><br />
            
            <li><strong>Qué tipo de frase te gusto mas:</strong><br />
            no tengo favoriitas, soy inspiracion pura.
            </li><br />
            
            <li><strong>Utilizo mis frases para:</strong><br />
            Sentirme bien y compartir con amigos
            </li><br />
            
            <li><strong>Te agrada escribir poemas cartas cuentos:</strong><br />
            Si, poemas de amor
            </li><br />
            </ul>
      	</div>
        </div>
        <!-- FIN caja usuario-->
        
            </div>
    	</div>
    	<div class="panel-usuarios-03"></div>
    </div>
    <!-- FIN panel usuario -->
   
  
  
  </div>

<!-- FIN columna derecha -->

<div class="footer"></div>
</div>




</body>
</html>
